.shopTitle {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
  }
  .products {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top:150px;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 200px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 200px;
  }
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in; 
      margin-top: 100px;
      text-align: center;
      font-size: 40px;
    }
    
    .products {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
    }
    
    .product {
      border-radius: 15px;
      width: 200px;
      height: 350px;
      margin: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    /* changes product image size */
    .product img {
      width: 300px;
      border: none; /* remove border */
    }
    
    .product .description {
      text-align: center;
    }
    
    .product:hover {
      transition: 0.3s ease-in;
      cursor: pointer;
    }
    
    .addToCartBttn {
      background-color: transparent;
      border: 2px solid rgb(19, 19, 19);
      min-width: 100px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 15px;
    }
    
    .shop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    
    .addToCartBttn:hover {
      background-color: rgb(19, 19, 19);
      color: white;
      cursor: pointer;
    }
    
    button {
      padding: 0;
      margin: 0;
      display: flex;
    }
    
    
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }

  .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  .pbuttons {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
    color:aliceblue;
  }

  